html {
  font-size: 15px;
}
html body #root {
  width: calc(100vw-100px);
  @media screen and(min-width: 800px) {
    width: calc(100vw-30px);
  }
  display: flex;
  justify-content: center;
}
